/* CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
/* Style */
body {font-family:"Dosis",Verdana,Arial; color:#ddd; font-size:12pt;}
a {color:#FA8072; text-decoration:none}
.spaces p {margin:5px;}
#map {position:absolute; top:0; left:0; width:100%; height:100%;}
#tools {position:absolute; bottom:5px; left:5px; background-color:#000; padding:10px 20px; width:350px;}
#settings, #oneCoord, #upload, #downloadCSV {display:none;}
#settings p {margin:2px;}
#info {position:absolute; top:30px; right:30px; background-color:#000; padding:10px 20px; visibility:hidden; font-size:11pt;}
#transformImg, #resetImg, #infoImg, #settingsImg, #mapImg, #centerImg, #uploadImg, #oneCoordImg {cursor:pointer; margin:0 5px; vertical-align:middle;}
#list {position:absolute; bottom:0; left:400px; background-color:#000; padding:10px 20px; width:350px;}
.fakeLink {cursor:pointer; color:#FA8072;}
.toImg {margin:0 5px; vertical-align:middle;}
.errorMsg {color:#f45;}
.srcTD, .dstTD {width:150px;}
.toTD {width:50px;}
.transparent {zoom:1; filter:alpha(opacity=80); opacity:0.8;}
.desno {float:right;}
.sredina {text-align:center;}
